.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: white;
    text-align: center;
}

.img{
    width: 320px;
    height: 350px;
    padding-top: 50px;
}

.timer{
    font-size: 50px;
    margin-top: -190px;
    color: white;
}

.areaBtn{
   margin-top: 150px;
   display: flex;
   color: white;
}

.botao{
    width: 150px;
    background-color: white;
    font-size: 20px;
    color: rgb(6, 6, 117);
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(32, 103, 255);
    color: white;
    transition: 0.2s;
}